@import "./colors.scss";

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Lato;
    src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}

html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: $light;
        overflow-y: scroll;

        section {
            width: 100%;
            padding: 64px 0px;
            margin-bottom: 1px;
            overflow-x: hidden;
            background-color: $black;

            h1 {
                color: $light;
                font-family: Lato;
                font-size: 36px;
                text-align: center;
                text-shadow: 0 0 16px $light;
                margin: 0;
                padding: 0 20px;
                padding-bottom: 36px;
            }
        
            .logoContainer {
                text-align: center;
        
                .logo {
                    width: calc(min(200px, 50vw));
                    height: calc(min(200px, 50vw));
                }
            }
        
            .description {
                color: $dark;
                font-family: Roboto;
                font-size: 24px;
                text-align: center;
                text-shadow: 0 0 16px $transparent-light;
                padding: 0 20px;
                padding-top: 36px;
            }
        
            a {
                display: flex;
                color: $light;
                font-family: Roboto;
                font-size: 18px;
                text-decoration-color: $dark;
                text-shadow: 0 0 36px $light;
                display: block;
                text-align: center;
                padding-bottom: 36px;
            }
        
            h2 {
                color: $light;
                font-family: Lato;
                font-size: 24px;
                text-align: center;
                text-shadow: 0 0 16px $light;
                margin: 0;
                padding: 0 20px;
                padding-bottom: 36px;
            }
        
            .docsDescription {
                color: $dark;
                font-family: Roboto;
                font-size: 24px;
                text-align: center;
                text-shadow: 0 0 16px $transparent-light;
                padding: 0 20px;
                padding-top: 36px;
                padding-bottom: 9px;
            }

            .tableContainer {
                overflow-y: scroll;

                .tableTitle {
                    color: $light;
                    font-family: Lato;
                    font-size: 22px;
                    text-align: center;
                    margin: 48px 0;
                    text-shadow: 0 0 16px $light;
                }

                table, th, td {
                    border-collapse: collapse;
                }
    
                table {
                    margin: auto;
                    background-color: $black;
                    width: calc(min(80%, 600px));
                }
    
                th {
                    font-family: Lato;
                    font-size: 18px;
                    color: $light;
                    padding: 5px;
                }
    
                td {
                    font-family: Roboto;
                    font-size: 16px;
                    border: 1px solid $dark;
                    border-collapse: collapse;
                    color: $light;
                    padding: 5px;
                    text-align: center;
                }
                
                .tableDescription {
                    text-align: left;
                }
            }

            .navContainer {
                margin: auto;
                margin-top: 24px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 150px;
            }

            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                margin-top: 48px;
                padding: 4.5px 20px;
                width: calc(min(240px, 60vw));
                height: 60px;
                border: 2px solid $light;
                border-radius: 15px;
                box-shadow: inset 0 0 25px $dark, 0 0 45px $transparent-light;
            }
        }
        
        section:last-of-type {
            margin-bottom: 0;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}