@import "../../colors.scss";

.bg {
    background-color: $black;
    padding: 20px 0;

    a {
        color: $light;
        font-family: Roboto;
        font-size: 18px;
        text-decoration-color: $dark;
        text-shadow: 0 0 36px $light;
        display: block;
        text-align: center;
        padding-top: 36px;
    }

    h1 {
        color: $light;
        font-family: Lato;
        font-size: 36px;
        text-align: center;
        text-shadow: 0 0 16px $light;
        margin: 0;
        padding: 36px 0;
        padding-bottom: 52px;
    }
}